
/* Arrange buttons */
.btn-matrix {
    flex-wrap: wrap; /* allow buttons to jump to another row */
 }
 .btn-matrix > .btn {
    width: 25%; /* force buttons to have the same width regardless of content */
 }
 .btn-matrix {
    padding: 10px;;
 }
 .btn-score {
    border-radius: 0.5rem !important;
 }
